html{
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient( rgb(1, 1, 50), rgb(4, 4, 123), rgb(120, 8, 120));
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}


 
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black
  }
  
.menu1 {
    float: left;
  }
  
.menu1 a {
    display: block;
    
    text-align: center;
    padding: 5px 30px;
    text-decoration: none;
  }

  

.menu1 {
    border-right: 1px solid #bbb;
  }
  
.menu1:last-child {
    border-right: none;
  }


.menu1 a:hover {
    background-color: #750370;
    color: rgb(18, 50, 230);
    
}

 





/* Responsividade */

@media screen and (min-width:791px) {
    
}
.menu{

    justify-content: space-around;
    flex-direction: row;
    display: flex;
    
    }

@media screen and (max-width:791px) {
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}





/* Formulario */

form{
    padding-top: 10%;
    padding-bottom: 6%;
}

label {
    padding: 4%;
    font-size: 1.2em;
    display: inline-block;
    color: rgb(15, 96, 218);
}

input[type=text], select, textarea, input[type=email], input[type=tel]{
    width: 90%;
    padding: 1%;
    border: 1px solid #c600ee;
    border-radius: 15px;
    resize: vertical;
}

 
.col-25{
    width: 25%;
    float: left;
    margin-top: 6px;

}

.col-75{
    width: 75%;
    float: left;
    margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

input[type=submit] {
  background-color: rgb(15, 96, 218);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5em;
  cursor: pointer;
  float: right;
  margin-right: 10px;

}

input[type=submit]:hover {
  background-color:rgb(15, 96, 218);
  font-weight: bolder;
}

@media screen and (max-width: 790px) {
    .col-25, .col-75, input[type=reclamações] {
      width: 100%;
      margin-top: 0;
    }
    form{
        margin-top: 20em;
    }
}



h1{
    color: rgb(47, 4, 156);
    -webkit-text-stroke: 1px rgb(34, 13, 223);
    text-shadow: 1px rgb(155, 4, 255);
    text-align: center;
    padding-right: 1%;
    padding-bottom: 1%;
    font-size: 3em;
}

h2{

    padding-top: 1cm;
    padding-bottom: 1CM;
    font-size: 2em;
    color: rgb(86, 13, 221);
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    text-shadow: 1px rgb(255, 255, 255);
}

h3{

padding-bottom: 1%;

}

p{
    line-height: normal;
    padding-bottom: 1%;
    text-align: justify;

}

ul{

line-height: 1.5;
font-size: 1.5em;
color:  rgb(255, 255, 255);
padding-bottom: 2CM;

}

article{
    color: rgb(255, 255, 255);
}

header{

    width: 100%;
    height: -20% ;
    font-size: 10px;
    background-image: linear-gradient( rgb(120, 8, 120), rgb(3, 3, 97));
    border: none;

}

.logo{
    text-align: center;
    color: rgb(51, 6, 163);
    font-size: 1px;
    
}
.logosite{

    text-align: center;
    width: 20%;
    box-shadow: none;
    border: none
}

nav{
    text-align: center;
    color: rgb(51, 6, 163);
    font-size: 1.5em;
}

footer{
    width: 90%;
    color: rgb(0, 0, 0); 
    text-align: center;
    padding-left: 7%;
    padding-top: 1%;
}

.midia{
    width: 3%;
    display: inline;
    padding: 0.5%;
    box-shadow: none;
}

.banner{
    width:99% ;
    box-shadow: none;
}

.container{
    width: 80%;
    margin: auto;
    border: 1px solid white;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5%;
    background-color: rgb(1, 1, 50);
}

figure{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

@media screen and (min-width:791px) {

.teste{

    float: left;
    width:25%;
    height: 35%;
    margin-right: 4%;
    
    }

}

@media screen and (max-width:791px) {

    .teste{

    float: left;
    width:15%;
    height: 20%;
    margin-right: 4%;
    
    }
}


.banana{

width: 50%;

}


.linha{

display: flex;
flex-flow: row wrap;
text-align: center;

}

.col-6{ 
    width: 50%;
    padding-bottom: 10%;

}

img{


box-shadow: 5px 10px rgb(143, 12, 175) ;
border: 1px solid white;


}

a{

    -webkit-text-stroke: 1px white;
}

#As12Constelacoes{

padding-bottom: 12%;

}


#Constelacaodesagitario{

padding-bottom: 10%;

}

#Constelacaodecancer{

padding-bottom: 10%;

}

#ConstelacaodeEscorpiao{

padding-bottom: 10%;

}


#Constelacaodevirgo{ 

padding-bottom: 15%;


}

#Constelacoessecundarias{

text-align: center;
padding-bottom: 12%;

}


#ConstelacaodeHydra{

padding-bottom: 12%;


}

#Constelacaodeorion{

padding-bottom: 15%;

}

#ciclodevidadeumaestrela{

text-align: center;

}


table, th, td {
    border:1px solid rgb(255, 255, 255);
    padding-bottom: 5%;
    text-align: center;
    color: white;
  }

  th{

    -webkit-text-stroke: 1px rgb(255, 255, 255);
    text-shadow: 1px rgb(255, 255, 255);

  }

  




