html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(1, 1, 50);
    font-family:Georgia, 'Times New Roman', Times, serif;

}
h1{
    color: rgb(47, 4, 156);
    -webkit-text-stroke: 1px rgb(34, 13, 223);
    text-shadow: 1px rgb(155, 4, 255);
    text-align: center;
    padding-right: 1%;
    padding-bottom: 1%;
    font-size: 3em;
}

h2{

    padding-top: 1cm;
    padding-bottom: 1CM;
    font-size: 2em;
    color: rgb(86, 13, 221);
     -webkit-text-stroke: 1px rgb(255, 255, 255);
    text-shadow: 1px rgb(255, 255, 255);
}

h3{

padding-bottom: 1%;
padding-bottom: 1%;

}

p{
    line-height: normal;
    padding-bottom: 1%;

}

ul{

line-height: 1.5;
font-size: 1.5em;
color:  rgb(255, 255, 255);
padding-bottom: 2CM;

}

article{
    color: rgb(255, 255, 255);
}

header{
    width: 100%;
    padding: 3%;
}

.logo{
    text-align: center;
    color: rgb(51, 6, 163);
    font-size: 1.5em;
    padding-top: 1%;
    padding-bottom: 1%;
}

nav{
    text-align: center;
    color: rgb(51, 6, 163);
    font-size: 1.5em;
}

footer{
    width: 100%;
    color: rgb(51, 6, 163); 
}

.banner{
    width: 90%;
}

.container{
    width: 80%;
    margin: auto;
}

figure{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.teste{

    float: left;
    width:20%;
    margin-right: 4%;
}


.linha{

display: flex;
flex-flow: row wrap;
text-align: center;

}

.col-6{ 
    width: 50%;

}

.banana{

padding-top: 5%;
padding-bottom: 1%;

}

.ovo{
padding-bottom: 5% ;
}

.hidra{
padding-bottom: 5%;

}

.cancer{

padding-bottom: 3%;
padding-top: 3%;

}