body{
    background-color: rgb(1, 1, 50);
}
h1{
    color: rgb(51, 6, 163);
    text-align: center;
}

article{
    color: antiquewhite;
}

header{
    width: 100%;
}

.logo{
    text-align: center;
    color: rgb(51, 6, 163);
    font-size: 1.5em;
}

nav{
    text-align: center;
    color: rgb(51, 6, 163);
    font-size: 1.5em;
}

footer{
    width: 100%;
    color: rgb(51, 6, 163); 
}

.banner{
    width: 100%;
}

.container{
    width: 80%;
    margin: auto;
}